@import "tailwindcss";

:root {
    /* Base Colors */
    --ov25-color-white: #ffffff;
    --ov25-color-light-gray: #E5E5E5;
    --ov25-color-medium-gray: #6a7282;
    --ov25-color-dark-gray: #282828;
    --ov25-color-handle: #bcbcbc;

    /* iframe styling */
    --ov25-configurator-iframe-background-color: var(--ov25-color-light-gray) !important;
    --ov25-configurator-iframe-border-radius: 0px !important;

    /* view controls that are overlayed onto the iframe, such as the dimensions button */
    --ov25-configurator-view-controls-text-color: var(--ov25-color-dark-gray) !important;
    --ov25-configurator-view-controls-background-color: var(--ov25-color-white) !important;
    --ov25-configurator-view-controls-border-color: var(--ov25-color-light-gray) !important;
    --ov25-configurator-view-controls-border-radius: 9999999px !important;

    /* Product Name & price text color */
    --ov25-configurator-title-text-color: var(--ov25-color-dark-gray) !important;
    --ov25-configurator-price-text-color: var(--ov25-color-dark-gray) !important;

    /* AR QR code popup */
    --ov25-configurator-qr-code-popup-background-color: var(--ov25-color-light-gray) !important;
    --ov25-configurator-qr-code-popup-border-color: var(--ov25-color-dark-gray) !important;
    --ov25-configurator-qr-code-popup-title-text-color: var(--ov25-color-dark-gray) !important;
    --ov25-configurator-qr-code-popup-description-text-color: var(--ov25-color-dark-gray) !important;
    --ov25-configurator-qr-code-popup-link-text-color: var(--ov25-color-medium-gray) !important;

    /* Variant menu */
    --ov25-configurator-variant-menu-border-color: var(--ov25-color-light-gray) !important;
    --ov25-configurator-variant-menu-border-radius: 0px !important;

    /* Drawer Styles */
    --ov25-configurator-variant-drawer-background-color: var(--ov25-color-white) !important;
    --ov25-configurator-variant-drawer-handle-color: var(--ov25-color-handle) !important;

    /* Sheet */
    --ov25-configurator-variant-sheet-background-color: var(--ov25-color-white) !important;
    --ov25-configurator-variant-sheet-border-color: var(--ov25-color-light-gray) !important;
}

/* Aspect ratio media queries for configurator iframe */
#ov25-configurator-iframe-container {
    aspect-ratio: 1/1; /* Default square aspect ratio for mobile */
    padding: 0px !important;
    margin: 0px !important;
    overflow: visible !important;
}

#ov25-configurator-iframe {
    border: 0px !important;
}
