:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 20px;
  min-width: 320px;
  min-height: 100vh;
} 

#ov25-configurator-iframe {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.configurator-container {
  width: 650px;
  height: 650px;
  border: 1px solid black;
}