#ov25-filter-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

#ov25-content-area {
  position: relative;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  height: 100%;
}

#ov25-desktop-variants-content-ungrouped {
  display: grid;
  height: fit-content;
  overflow-y: auto;
  padding-top: 1em;
  padding-bottom: 2em;
}

#ov25-desktop-variants-content-grouped {
  height: 100%;
  overflow-y: auto;
  padding-block: 1em;
}

#ov25-filter-content-wrapper-desktop {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow-y: auto;
  position: absolute;
  inset: 0;
  height: 100%;
  padding: 0.5em 1em;
  background: var(--ov25-background-color);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

#ov25-filter-content-wrapper-desktop[data-open="true"] {
  transform: translateY(0);
}