#ov25-filter-content {
  width: 100%;
  height: 100%;
  padding-right: 1em;
  padding-bottom: 10em;
  overflow-y: auto;
}

#ov25-filter-content .filter-group {
  margin-bottom: 1rem;
}

#ov25-filter-content .filter-group-title {
  font-size: 1.125em;
  color: var(--ov25-secondary-text-color);
  margin-bottom: 0.5em;
}

#ov25-filter-content .filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 100%;
}

#ov25-filter-content .filter-option {
  padding: 0.5em 1em;
  border-radius: 9999px;
  font-size: 0.875em;
  border: 1px solid var(--ov25-border-color);
  color: var(--ov25-secondary-text-color);
  transition: all;
  cursor: pointer;
}

#ov25-filter-content .filter-option:hover {
  background-color: rgb(249 250 251);
}

#ov25-filter-content .filter-option[data-checked="true"] {
  border-color: var(--ov25-highlight-color);
  background-color: color-mix(in srgb, var(--ov25-highlight-color) 20%, transparent);
}

#ov25-filter-empty {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

#ov25-filter-empty h3 {
  font-size: 1.125rem;
  color: var(--ov25-secondary-text-color);
} 

#ov25-filter-controls-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  #ov25-filter-controls {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    gap: 0.5rem;
  }
  
  #ov25-filter-controls-pills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  #ov25-filter-controls-button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 9999px;
    border: 1px solid var(--ov25-border-color);
    color: var(--ov25-secondary-text-color);
    white-space: nowrap;
  }
  
  #ov25-filter-controls-button span {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--ov25-secondary-text-color);
  }
  
  #ov25-filter-controls-button:hover {
    background-color: var(--ov25-hover-color);
  }
  
  #ov25-filter-controls-search {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 9999px;
    border: 1px solid var(--ov25-border-color);
    flex: 1;
  }
  
  #ov25-filter-controls-search:hover {
    background-color: var(--ov25-hover-color);
  }
  
  #ov25-filter-controls-search svg {
    min-width: 24px;
  }
  
  #ov25-filter-controls-search svg:last-child {
    padding-right: 0.5rem;
    cursor: pointer;
  }
  
  #ov25-filter-controls-search input {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    color: var(--ov25-secondary-text-color);
    width: 100%;
    background-color: transparent;
    outline: none;
  }
  
  #ov25-filter-controls-pills .ov25-filter-pill {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em 1em;
    border-radius: 9999px;
    font-size: 0.875em;
    border: 1px solid var(--ov25-border-color);
    color: var(--ov25-secondary-text-color);
    transition: all;
    cursor: pointer;
    white-space: nowrap;
  }
  
  #ov25-filter-controls-pills .ov25-filter-pill-close {
    padding: 0.25em;
    margin-top: 1px;
  }
  
  #ov25-filter-controls-pills #ov25-filter-pill-all {
    cursor: default;
    display: none;
  }