#ov25-filter-content-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 13rem;
  overflow-y: auto;
  height: 100%;
} 